@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&family=Solway:wght@300;400;500;700;800&display=swap');

body {
    margin: 0;
    font-family: "National Park", sans-serif;
    font-size: 2em;
    min-height: 100vh;
    margin-bottom: 10px;
}

h1 {
    font-family: "Solway", sans-serif;
    text-align: center;
    color: black;
    text-decoration: underline;
}

button {
    font-family: "Solway", serif;
}
#buttonGrid {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; 
  margin-top: 30px;
}

#buttonGrid > div {
  width: 45%;
  text-align: center;
  border: none; 
  border-radius: 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
}

#buttonGrid label {
  margin-top: 7px;
  font-size: 0.75em;
}

button {
  font-family: "Solway", serif;
  font-size: 1.2em; 
  padding: 15px 25px; 
  border: none;
  border-radius: 8px;
  background-color: #ffffff;
  color: #0c8029;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #b8f5b8;
}

input {
  width: 250px;
  padding: 10px; 
  border-radius: 5px; 
  font-family: "Solway", sans-serif; 
  font-size: 16px; 
  color: #000000; 
  background-color: #58db4cbc; 
  margin-left: 5px;
  border: none;
  box-shadow: 0 0 5px rgba(71, 72, 73, 0.6);
}

input:hover {
    box-shadow: 0 0 15px rgba(71, 72, 73, 0.6);
    transition: all 0.3s ease;
}

textarea {
  width: 300px;
  height: 100px;
  padding: 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  resize: vertical;
}

/* Blurs */
#detectLocationDiv, #manualLocationDiv {
  backdrop-filter: blur(10px);
}

#buttonGrid div {
  backdrop-filter: blur(10px);
}

#detectLocationDiv label, #manualLocationDiv label {
  font-weight: 500;
}

/* Animations & Stuff */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

body * {
    animation: fadeIn 2s ease-in-out;
}