#buttonGrid {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; 
  margin-top: 30px;
}

#buttonGrid > div {
  width: 45%;
  text-align: center;
  border: none; 
  border-radius: 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
}

#buttonGrid label {
  margin-top: 7px;
  font-size: 0.75em;
}