/* All */
#locationComponentsDiv {
    display: flex;
    justify-content: center;
    gap: 50px;
}

/* Detect Location */
#detectLocationDiv {
    padding: 10px;
    gap: 5px;
    border: 3px solid black;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Manual Location */
#manualLocationTitle {
    margin: 0;
    text-align: center;
}

#manualLocationDiv {
    padding: 10px;
    gap: 5px;
    border: 3px solid black;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

#latInputDiv, #longInputDiv, #locationNameInputDiv {
    padding: 5px;

    display: flex;
    align-items: center;
    gap: 5px;
}

#latInputDiv > *, #longInputDiv > *, #locationNameInputDiv > * { /* So inputs grow as much as possible */
    flex: 1;
}

#manualLocationDiv label { /* So labels don't take up extra space */
    flex: 0 0 auto;
    margin-right: 5px;
}

/* Manual Location Name */
#manualLocationDiv p {
    font-size: 0.6em;
    margin: 3px;
    text-align: center;
    font-weight: 600;
}

#locationNameInputDiv {
    font-size: 0.9em;
}

/* Submit Button */
#submitButton {
    margin-top: 3px;
}