#yourLocationDiv {
    font-size: 0.85em;

    display: flex;
    justify-content: center;
}

#yourLocationTitle {
    font-weight: 700;
}

#yourLocationText {
    border: 3px solid black;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}