#yourLocationDiv {
    font-size: 0.85em;
    margin: 10px;

    display: flex;
    justify-content: center;
}

#yourLocationTitle {
    font-weight: 700;
}

#yourLocationText {
    border: 3px solid black;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#yourLocationText p {
    margin: 0;
    margin-top: 3px;
    padding: 5px;
}